<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #95d9da;">
    <div class="container-fluid">
        <a class="navbar-brand nav-title" href="#">Livraria do cowboy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <span class="navbar-text nav-switch-mode-text ms-auto">
                Dark mode
            </span>
        </div>
    </div>
</nav>